<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <serviceEndPoints>
    <add name="Location" endPoint="http://dev.virtualearth.net/REST/v1/Locations/" />
  </serviceEndPoints>
  <credentials>
    <add name="bingMapDevKey" key="axshD0XP67KzdsgEcfLd~-rhFs_Pfc5KdST0lT07Ceg~Akj3gmDa1sNNc-tsS8oNvciwZtjEGmtyoNF_zf3Udm0PDdZrYAvLN8Zmk279_BFW"/>
  </credentials>
</configuration>